/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/




.topBar{
    width: 100vw;
    text-align: center;
    /* margin-top: 25; */
}

.topBarContent {
    /* width: 100vw; */
    height: 34;
    /* border-color: darkgrey; */
    border-radius: 5;
}

.dateLbl {
    text-align: center;
}

.parent {
    background-color: rgb(255, 255, 255);
    /* border-color: black; */
    margin-top: 10;
}

.toggle {
    align-self: baseline;
    background-color: rgb(242, 92, 144);
    vertical-align: middle;
    /* border-width: 1; */
    /* border-color: rgb(255, 82, 180); */
    height: 34;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
    border-radius: 5;
}

.toggler {
    /* rgb(242, 2, 138) */
    background-color: rgb(242, 2, 138);
    /* border-width: 1;
    border-color: rgb(255, 82, 180); */
    height: 24;
    margin-left: 5;
    margin-right: 5;
    border-radius: 5;
}

.togglerTop {
    opacity: 0;
    background-color: rgb(242, 2, 138);
    /* border-width: 1;
    border-color: rgb(255, 82, 180); */
    height: 24;
    margin-left: 1;
    margin-right: 1;
    border-radius: 5;
}

Label {
    font-weight: 500;
    vertical-align: middle;
}

.toggle-lbl {
    
    color: rgb(255, 255, 255);
    justify-content: center;
    vertical-align: middle;
}

.body {
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
}

.activityIndicator {
    vertical-align: middle;
}





Button{
    border-width: 2;
    border-color: pink;
    border-radius: 5;
}