Button{
    border-width: 2;
    border-color: pink;
    border-radius: 5;
}

.parent {
    background-color: rgb(242, 2, 138);
    /* border-color: rgb(189, 189, 189); */
    border-radius: 5;
}

.parent2 {
    background-color: rgb(255, 255, 255);
    border-radius: 5;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
}

.mobileForm {
    vertical-align: middle;
    background-color: rgb(255, 202, 220);
    /* border-color: rgb(173, 173, 173);
    border-width: 1; */
    border-radius: 5;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
    padding: 3;
}

.mobileForm Label{
    vertical-align: middle;
    margin-left: 15;
    margin-right: 5;
}

/* Label {
    vertical-align: middle;
    margin-left: 15;
    margin-right: 5;
} */

.input {
    border-width: 1;
    background-color: rgb(255, 255, 255);
    border-color: rgb(242, 92, 144);
    border-radius: 5;
    padding-top: 7;
    padding-bottom: 7;
    padding-left: 10;
    padding-right: 10;
}

.loggedLbl {
    text-align: center;
}

.loggedIn {
    vertical-align: middle;
    background-color: rgb(255, 202, 220);
    /* border-color: rgb(173, 173, 173);
    border-width: 1; */
    width: 200;
    border-radius: 5;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
    padding: 3;
}

.forgotPassword{
    font-size: 8;
}

.options{
    margin: 5;
    padding-left: 5;
    padding-right: 5;
    padding-top: 5;
    padding-bottom: 5;
    border-color: pink;
    border-width: 2;
    border-radius: 5;
    /* background-color: rgb(238, 238, 238); */
    /* vertical-align: middle;
    background-color: rgb(255, 202, 220);
    /* border-color: rgb(173, 173, 173);
    border-width: 1; */
    /* border-radius: 15;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
    padding: 3; */
}

.options *{
    padding-top: 5;
    padding-bottom: 5;
}

.listpicker{
    /* margin-left: 20; */
    /* margin-right: 20;  */
    /* margin: 5;  */
    /* background-color: white; */
    /* border-width: 1; */
    /* border-radius: 5; */
    /* border-color: pink; */
    /* background: white; */
    /* height: 40; */
}