/* Add mobile styles for the component here.  */

Button {
    border-radius: 15;
    height: 34;
    width: 100;
}

.parent {
    background-color: rgb(242, 2, 138);
    /* border-color: rgb(189, 189, 189); */
    border-radius: 15;
}

.parent2 {
    background-color: rgb(255, 255, 255);
    border-radius: 15;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
}

.centerClass {
    vertical-align: middle;
}

.content {
    vertical-align: middle;
    background-color: rgb(255, 202, 220);
    /* border-color: rgb(173, 173, 173);
    border-width: 1; */
    border-radius: 15;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5;
    margin-right: 5;
    padding: 3;
}

Label {
    vertical-align: middle;
    margin-left: 15;
    margin-right: 5;
}

.input {
    border-width: 1;
    background-color: rgb(255, 255, 255);
    border-color: rgb(242, 92, 144);
    border-radius: 5;
    padding-top: 7;
    padding-bottom: 7;
    padding-left: 10;
    padding-right: 10;
}